#btn-container{
    width: 100%;
    min-height: 180px;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 1000px;
}

#footer{
    width: 100%;
    height: 2%;
}


#dropzone{
    width:100%;
    height:80%;
    justify-content:center;
    align-items:center;
    display: flex;
    background-color: rgb(236, 236, 236);
    border-radius: 5px;
    font-family: inherit;
    font-size: 20px;
}

#fileTitle{
    text-align: center;
    padding:15px;
    font-size: large;
    border:1px solid;
    border-top:none;
    border-radius: 0 0 10px 10px;
    border-color: lightgray;
    background-color: rgb(236, 236, 236);
   
    
}

#btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 180px;
    min-width: 1000px;
    height: 30%; 
    width: 100%;
    flex-direction: row; 
}
.inputBtn{
     height:20%;
     width: 100%;
}
.bottone:focus {
    outline: none;
  }

.bottone:active {
    transform: scale(0.98);
  }
.bottone{
    background-color:black;
    border-radius:5px;
    display:flex;
    justify-content:center;
    align-items: center;
    min-width: 230px;
}
  






